[submodule "theme/jane"]
	path = theme/jane
	url = https://github.com/yiyiwang22/hugo-theme-jane.git
[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/yiyiwang22/hugo-theme-jane.git
